<div class="taskList" id="taskList">
    <h1 class="mainPageHeader">Your Tasks</h1>

    <button (click)="toggleShowAdd()" type="button" class="btn btn-primary btn-lg addTaskButton">Add Task</button>

    <app-search-tasks (searchTermChange)="onSearchInputChange($event)"></app-search-tasks>

    <app-sort-by 
        (sortByChange)="changeSortBy($event)"
        (sortDirectionChange)="changeSortDirection($event)"
    ></app-sort-by>
  
    <app-add-list-item (newTask)="addNewTask($event)" (hideForm)="toggleShowAdd()" *ngIf="toggleAddToList"></app-add-list-item>

    <app-alphabetical-sort (charSortChange)="changeCharSort($event)"></app-alphabetical-sort>

    <div class="timeListHolder">
        <ul class="list-group">
            <p class="noTaskMessage" *ngIf="tasks !== undefined && tasks.length === 0">No tasks found</p>
            <app-time-list-item (deleteItemEvent)="deleteItem($event)" *ngFor="let taskEntry of tasks" [task]="taskEntry"></app-time-list-item>
        </ul>
    </div>  
</div>
