@use "../../../../../mixins.scss";

h1.mainPageHeader {
    color: white;

    @include mixins.breakpoint(tablet) {
        position: relative;
        margin-bottom: 20px;
    }
}

div.taskList {

    width: 95%;
    display: inline-block;
    margin-top: 20px;

    @include mixins.breakpoint(tablet) {
        width: 65%;
        max-width: 1200px;
        margin-top: 30px;
    }
    
}

button.addTaskButton {
    margin-top: 1px;
    margin-bottom: 10px;

    @include mixins.breakpoint(tablet) {
        display: inline-block;
    }
}
