@use "../../../../../mixins.scss";

div.buttonsHolder {
    display: none;
    @include mixins.breakpoint(tablet) {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}

div.alphabetSelectHolder {
    @include mixins.breakpoint(tablet) {
        display: none;
    }
}