@use "../../../../../mixins.scss";

div.sortByFormHolder {
    margin-bottom: 25px;
}

div.sortButtonHolder {

    margin-top: 10px;

    @include mixins.breakpoint(value) {
        margin-left: 70%;
        margin-top: 25px;
    }
    
}

button.ascButton {


    @include mixins.breakpoint(tablet) {
        margin-right: 10px;
    }
}