<div class="sortByFormHolder">
    <form #sortByForm="ngForm" class="sortByForm" (change)="onChange(sortByForm)">
        <label for="sortBy" class="sortByLabel">Sort by:</label>
        <select 
            name="sortBy" 
            id="sortBy" 
            #sortBy="ngModel"
            ngModel
            class="dropDownMenu form-control" 
            aria-labelledby="dropdownMenuButton"
        >
            <option value="name" class="dropdown-item" >name</option>
            <option value="priority" class="dropdown-item" >priority</option>
            <option value="hours" class="dropdown-item" >hours</option>
        </select>
    </form>
    <div class="sortButtonHolder">
        <button 
            type="button" 
            class="btn btn-primary ascButton"
            (click)="onAscClick()"
        >
            Ascending
        </button>

        <button 
            type="button" 
            class="btn btn-primary descButton"
            (click)="onDescClick()"
        >
            Descending
        </button>
    </div>
    
</div>
