@use "../../../../../mixins.scss";

div.sortByFormHolder {
    margin-bottom: 25px;
    
    @include mixins.breakpoint(tablet) {
        width: 400px;
        margin-left: calc(50% - 200px);
    }

    @include mixins.breakpoint(tabletLarge) {
        width: 600px;
        margin-left: calc(50% - 300px);
    }
}   

div.sortButtonHolder {

    margin-top: 10px;

    @include mixins.breakpoint(value) {
        margin-left: 70%;
        margin-top: 25px;
    }
    
}

button.ascButton {


    @include mixins.breakpoint(tablet) {
        margin-right: 10px;
    }
}