@use "../../../../../mixins.scss";

div.mainPageWrapper {
    width: 100%;
    text-align: center;
    display: inline-block;

    @include mixins.breakpoint(tablet) {
        text-align: center;
    }

}