@use '../../../../../mixins.scss';

div.signInFormHolder {
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    @include mixins.breakpoint(tablet) {
        width: 45%;
    }
}

input {
    @include mixins.breakpoint(tablet) {
        width: 400px;
        margin-left: calc(50% - 200px);
    }
}

label.passwordLabel {
    margin-top: 30px;
}

button.signInSubmit {
    margin-top: 15px;
}

p.dummyAccount {
    margin-top: 20px;
}

.loadingBar {
    margin-top: 20px;
    width: 50%;
    display: inline-block;
}

div.createAccountHolder {
    margin-top: 10px;
}



