@use "../../../../../mixins.scss";

input.taskNameInput {
    width: 60%;
    margin-left: 20%;
}

label {
    left: 0%;
    @include mixins.breakpoint(tablet) {
        position: relative;
    }
}

label.priorityLabel {
    left: 0%;
    display: block;

    @include mixins.breakpoint(tablet) {
        display: block;
    }
}

label.taskNameLabel {
    display: inline-block;
}

div.newTaskFormHolder {
    margin-bottom: 50px;
    text-align: center;
    
    @include mixins.breakpoint(tablet) {
        position: relative;
    }
}

div.dropdown {

    width: 100%;
    left: 0%;
    text-align: center;

    @include mixins.breakpoint(tablet) {
        width: 30%;
        top: 20px;
    }
}

div.form-group {
    text-align: center;
}

select.dropDownMenu {
    width: 60%;
    display: inline-block;

    @include mixins.breakpoint(tablet) {
        width: 60%;
    }
}

button.itemSubmitButton, button.hideFormButton {
    left: 0%;

    @include mixins.breakpoint(tablet) {
        margin-top: 20px;
        display: inline-block;
    }
}

button.hideFormButton {
    margin-left: 5px;
}

label.hoursLabel {
    margin-top: 20px;
    display: block;

    @include mixins.breakpoint(tablet) {
        display: block;
    }
}

input.hoursInput {
    margin-left: 0%;
    width: 60%;
    display: inline-block;

    @include mixins.breakpoint(tablet) {
        width: 20%;
        display: inline-block;
    }
    
}

.is-invalid {
    border-color: red;
}

div.nameFeedback {
    position: relative;
    left: 20%;
}

.invalid-feedback.feedback-icon {
    position: relative;
    right: 5px;
}
