@use "../../../../../mixins.scss";

input.taskNameInput {
    width: 60%;
    margin-left: 20%;
}

label {
    left: 0%;
    @include mixins.breakpoint(tablet) {
        position: relative;
        left: 20%;
    }
}

label.priorityLabel {
    left: 0%;
    display: block;

    @include mixins.breakpoint(tablet) {
        display: initial;
    }
}

div.newTaskFormHolder {
    margin-bottom: 50px;
    text-align: center;
    
    @include mixins.breakpoint(tablet) {
        text-align: inherit;
    }
}

div.dropdown {

    width: 100%;
    left: 0%;
    text-align: center;

    @include mixins.breakpoint(tablet) {
        width: 30%;
        left: 20%;
        top: 20px;
    }
}

select.dropDownMenu {
    width: 60%;
    display: inline-block;

    @include mixins.breakpoint(tablet) {
        width: 60%;
    }
}

button.itemSubmitButton {
    margin-top: 20px;
    position: relative;
    left: calc(50% - 20px);
}

label.hoursLabel {
    margin-top: 20px;
}

input.hoursInput {
    margin-left: 0%;
    @include mixins.breakpoint(tablet) {
        width: 20%;
        margin-left: 20%;
    }
    
}

.is-invalid {
    border-color: red;
}

div.nameFeedback {
    position: relative;
    left: 20%;
}

.invalid-feedback.feedback-icon {
    position: relative;
    right: 5px;
}
