input.taskNameInput {
    width: 60%;
    margin-left: 20%;
}

label {
    position: relative;
    left: 20%;
}

label.priorityLabel {
    left: 0%;
}

div.newTaskFormHolder {
    margin-bottom: 50px;
}

div.dropdown {
    width: 30%;
    left: 20%;
    top: 20px;
}

select.dropDownMenu {
    width: 60%;
}

button.itemSubmitButton {
    margin-top: 20px;
    position: relative;
    left: calc(50% - 20px);
}

label.hoursLabel {
    margin-top: 20px;
}

input.hoursInput {
    width: 20%;
    margin-left: 20%;
}

.is-invalid {
    border-color: red;
}

div.nameFeedback {
    position: relative;
    left: 20%;
}

.invalid-feedback.feedback-icon {
    position: relative;
    right: 5px;
}
