@use "../../../../../mixins.scss";

label {
    margin-top: 8px;
}

div.editItem {
    width: 100%;

    @include mixins.breakpoint(tablet) {
        text-align: initial;
    }
}

input.taskNameEdit {
    width: 30%;
}

button.hideButton {
    margin-top: 10px;
    padding: 5px 10px;
}

span.lineBreak {
    width: 100%;
    border-bottom: 1px solid gray;
}

.is-invalid {
    border-color: red;
}