@use "../../../../../mixins.scss";

input.searchInput {
    @include mixins.breakpoint(tablet) {
        width: 400px;
        margin-left: calc(50% - 200px);
    }
    
    @include mixins.breakpoint(tabletLarge) {
        width: 600px;
        margin-left: calc(50% - 300px);
    }
}