button.deleteButton {
    padding: 5px 10px;
}

button.deleteButton:hover {
    cursor: pointer;
}

li.listItem {
    width: 100%;
}

div.listItemHolder:hover {
    cursor: pointer;
}

button {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

span.nameDisplay {
    color: white;
}

span.hoursDisplay {
    color: white;
}