@use '../../../../../mixins.scss';

div.form-group {
    width: 90%;
    margin: auto;
    @include mixins.breakpoint(tablet) {
        width: 75%;;
        margin-top: 3.5%;
        text-align: center;
    }
}

label {
    display: block;
    margin-top: 20px;

    @include mixins.breakpoint(tablet) {
        margin-top: 0px;
    }
}

label.usernameLabel {
    margin-top: 50px;
}

p.errorMessage {
    color: red;
    position: relative;
    bottom: 5px;
    @include mixins.breakpoint(tablet) {
        bottom: 20px;
    }
}

div.passwordRequirements {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 30px;
}

button.btn-primary {
    margin-top: 30px;
}

input {
    @include mixins.breakpoint(tablet) {
        width: 400px;
        display: block !important;
        margin-left: calc(50% - 200px);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

form.signUpForm {
    @include mixins.breakpoint(tablet) {
        position: relative;
        bottom: 35px;
    }
}

input.passwordInput, input.confirmPasswordInput {
    margin-top: 5px;
    display: block;
}

label.confirmPasswordLabel {
    right: 34%;
}

.is-invalid {
    border-color: red;
}

label.passwordRequirementsLabel {
    display: inline-block;
    text-decoration: underline;
    left: 0%;
}

ul#passwordRequirements {
    list-style-type: none;
}

ul#passwordRequirements li {
    position: relative;
    right: 20px;
}


