div.form-group {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
}

button.btn-primary {
    margin-top: 20px;
}

label {
    position: relative;
    right: 43%;
}

input.passwordInput, input.confirmPasswordInput {
    margin-top: 15px;
}

.is-invalid {
    border-color: red;
}

label.passwordRequirementsLabel {
    margin-left: 25%;
    text-decoration: underline;
}

span.showPassword:hover {
    cursor: pointer;
}

