p.nameDisplay {
    color: white;
}

li {
    color: white !important;
}

p.hoursDisplay {
    color: white;
}

div.listItemHolder {
    margin-top: 15px;
}

.badge {
    width: 100px;
    height: 20px;
}