@use "../../../../../mixins.scss";

nav.signUpNav {
    width: 100%;
    @include mixins.breakpoint(tablet) {
    }
}

li.nav-item {
    @include mixins.breakpoint(tablet) {
        width: 150px;
        text-align: center;
    }
    
}

li.about {
    display: none;
    @include mixins.breakpoint(tablet) {
        display: initial;
        position: absolute;
        right: 20px;
    }
}

a.aboutLink {
    border-right: none;
    border-left: 1px solid rgba(255,255,255,0.1);
}