<div class="moreInfoHolder">
    <label class="moreInfoListLabel" for="moreInfoList">Features:</label>
    <ul class="moreInfoList" id="moreInfoList">
        <li class="moreInfoListItem">Input tasks with the following information:</li>
        <ul class="moreInfoListTwo">
            <li>Name of the task</li>
            <li>Hours</li>
            <li>Priority of the task</li>
        </ul>
        <li class="moreInfoListItem">Gain experience points based on total hours logged</li>
        <li class="moreInfoListItem">Edit/delete tasks as you go</li>
        <li class="moreInfoListItem">Filter and sort tasks based on various criteria</li>
    </ul>
</div>
