button.letterButton {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #007BFF;
}

button.letterButtonActive {
    border: 1px solid white;
    background-color: transparent;
    padding: 1;
    color: #007BFF;
}